<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- Log message format -->
    <encoder>
      <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <!-- Ned appender to write to file -->
  <!-- <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    Name of the file where the log messages are written
    <file>restapi.log</file>
    <encoder>
      <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender> -->
  <logger name="net.javabeat.service" level="ERROR">
    <appender-ref ref="FILE" />
  </logger>
  <logger name="net.javabeat.service" level="WARN">
    <appender-ref ref="FILE" />
  </logger>
  <logger name="net.javabeat.model" level="INFO">
    <appender-ref ref="FILE" />
  </logger>

  <!-- Setting the root level of logging to INFO -->
  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>